
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/*-------------------- ヘッダー --------------------*/
.header {
    padding: 1% 3%;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.main-nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #47763c;
    padding-top: 0.5rem;
    white-space: nowrap;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1.8rem;
    padding-top: 1rem;
}
.nav a {
    text-decoration: none;
    color: inherit;
}
.nav li {
    margin-left: 2.8rem;
    list-style: none;
    font-weight: 450;
}

/* ------------------ホーム--------------- */
#home {
    background-image: url(image/home.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.home-content {
    width: 53%;
    padding: 4% 0;
    text-align: center;
    background-color: #1b3f1380;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}
.home-content h2 {
    font-size: 3rem;
    font-weight: 1000;
}
.home-content p {
    margin-top: 2%;
    font-size: 1.2rem;
}
.home-content button {
    width: 150px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #0f8963;
    color: white;
    font-weight: 500;
    margin-top: 5%;
}
/*-------------------- メニュー ----------------------*/
#menu h2 {
    margin-top: 4rem;
    font-size: 2.3rem;
    color: #076346;
}
#menu h3 {
    margin-top: 3rem;
    font-size: 1.9rem;
}
.grid-contener {
    width: 96.5%;
    margin: 1.8rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 25px;
}
.grid-item {
    width: 100%;
    transition: all 0.3s ease;
    background-color:rgb(247, 250, 249);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.grid-item:hover {
    z-index: 1;
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.grid-content {
    width: 85%;
    margin: 1.5rem auto; 
}
.grid-image {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.grid-content h4 {
    margin-top: 0.9rem;
    font-size: 1.25rem;
    color: #0e6c4e;
}
.grid-content p {
    margin-top: 0.6rem;
    font-weight: 330;
    font-size: 1rem;
}
.yen {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    color: hsl(161, 81%, 28%);
}

/*🍰*/
#cake h4 {
    color: #8e5a48;
}
.cake-yen {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    color: #8e5a48;
}

/*----------------- 私たちについて ------------------*/
#about {
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background-color: rgb(247, 250, 249);
    text-align: center;
}
.about-content {
    width: 60%;
    margin: 0 auto;
}
#about h2 {
    color: #076346;
    font-size: 2.3rem;
}
#about p {
    margin-top: 3%;
    font-size: 1.1rem;
    color: #434f58;
}
/*------------------- お問い合わせ ----------------*/
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5%;
}
#contact h2 {
    color: #076346;
    font-size: 2.3rem;
    margin-top: 10%;
    text-align: center;
}
#contact p {
    margin: 15px;
    font-size: 0.85rem;
    font-weight: 600;
}
#contact form {
    width: 40vw;
    margin-top: 10%;
    padding: 1rem;
    border-radius: 15px;
    background-color: rgb(253, 249, 251);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
input[type="text"],
input[type="email"],
textarea {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}
textarea {
    min-height: 150px;
}
input[type="submit"] {
    display: block;
    color: white;
    background-color: #0f8963;
    font-weight: 600;
    margin: 50px auto;
    width: 95px;
    height: 45px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/*----------------- フッター -------------------------*/
footer {
    color: white;
    background-color: #071e30;
    padding: 2% 0;
}
footer p {
    line-height: 2.0;
}



/*----------------------------------- メディアクエリ ---------------------------------------------*/
/* 1024 */
@media (max-width: 1024px) {
    .grid-contener {
        grid-template-columns: 1fr 1fr;
    }

    #contact form {
        width: 65vw;
    }
    input[type="submit"] {
        margin-top: 10%;
    }

    footer {
        padding-top: 7%;
    }
}

/* 768 */
@media (max-width: 768px) {
    /* ヘッダー */
    .main-nav {
        display: block;
        padding-top: 1%;
    }
    .logo {
        margin-left: 1%;
    }
    .nav {
        padding-right: 0;
    }
    .nav li {
        margin-left: 1rem;
        font-size: 0.9rem;
        font-weight: 350;
    }

    /* ホーム */
    .home-content {
        padding: 2% 1%;
    }
    .home-content h2 {
        font-size: 1.8rem;
    }
    .home-content p {
        font-size: 0.8rem;
    }
    .home-content button {
        font-size: 0.8rem;
        padding: 2% 0;
    }

    .grid-contener {
        grid-template-columns: 1fr;
    }

    /* 私たちについて */
    .about-content {
        width: 70%;
    }
    #about p {
        margin-top: 18px;
    }

    /* お問い合わせ */
    #contact form {
        width: 70vw;
        padding: 0.8rem auto;
    }
    textarea {
    min-height: 130px;
    }
    input[type="submit"] {
        margin: 20px auto;
    }

    /* フッター */
    footer {
        font-size: 0.8rem;
    }
}

/* 425 */
@media (max-width: 425px) {
    #home h2 {
        font-size: 1.5rem;
    }
    #home p {
        font-size: 0.7rem;
    }
    .home-content {
        padding: 5% auto;
    }

    #menu h2 {
        font-size: 2rem;
    }
    #menu h3 {
        font-size: 1.5rem;
    }

    #about h2 {
        font-size: 1.9rem;
    }
    #about p {
        font-size: 0.75rem;
    }

    #contact h2 {
        font-size: 2rem;
    }
}